

#inputState {
    position: relative;
    width : 100%;
    height : 400px;
    resize: vertical;
}

.divAnswer {
    margin-top:10px;
}

.inputAnswer{
    position:relative;
    width:100%;
}

#previewState{
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #000000;
    padding:5px;
}

.previewDivAnswer {
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #000000;
    margin-top:10px;
}

.middleButton{
    position: relative;
    width:50%;
    display: block;
    margin:15px;
}