#tagList{
    width : fit-content !important;
    max-height: 500px;
    padding:5px;
    border-color:black;
}

#tagList > li > label> input{
    margin-right: 5px;
}

#navQuestions {
    margin-bottom: 10px;
    background-color:rgb(169, 177, 177)
}

#questionsCollapse {
    margin-bottom: 25px;
}

#sequencesCollapse {
    margin-bottom: 25px;
}

.card-header > input{
    margin-right: 5px;
}