h2 {
    margin : 20px;
    text-align: center;
}

.collapseBut {
    display:block;
    background:none;
    border:none;
}

h3 {
    margin-left: 10px;
    text-decoration: underline;
}

.borderedDiv {
    position: relative;
    padding-left : 10px;
    margin : 10px;
}

.liveAnswer {
    margin : 5px;
    margin-top : 10px;
    background-color: rgb(190, 188, 188);
}