h2 {
    margin : 20px;
    text-align: center;
}

.collapseBut {
    display:block;
    background:none;
    border:none;
}

.collapseBut > h3 {
    text-decoration: underline;
}

.borderedDiv {
    position : relative;
    padding : 5px;
    padding-left : 10px;
    margin : 10px;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color:black;
}

.liveAnswer {
    margin : 5px;
    margin-top : 10px;
}

.bottomButton {
    margin:5px;
}