ul {
    list-style-type: none;
}

.navBar {
    margin-bottom: 10px;
    padding:5px;
    background-color:rgb(169, 177, 177)
}

#titleInput {
    max-height:45px;
    margin-left : 10px;
    margin-top : auto;
    margin-bottom : auto;
    display:inline;
    min-width:190px;
    max-width:500px;
    width:190px;
}