ul {
    list-style-type: none;
}

#draggable-list {
    min-height : 200px;
}

.navBar {
    margin-bottom: 10px;
    padding:5px;
    background-color:rgb(169, 177, 177)
}

#titleInput {
    max-height:45px;
    margin-left : 10px;
    margin-top : auto;
    margin-bottom : auto;
    display:inline;
    min-width:190px;
    max-width:500px;
    width:190px;
}

#filtrage > *{
    display: inline;
    margin-left : 10px;
    margin-right : 10px;
}

#filtrage {
    margin-bottom: 10px;
    margin-top: 20px;
}
