.hello{
    font-size: 30px;
    text-align: center;
}

.centrerPage {
    font-size: 15px;
    text-align: center;
}
/* css pour la page Ajout Student */
input[type=file] {
    height: 160px;
    width: 30%;
    border: solid;
    border-radius: 8px;
    border-color: rgb(218, 31, 31);
    border-style: dotted;
}

#Soumettre:hover {
    color:blueviolet;
    height: 30px;
    width: 6,5%;
    font-weight: bold;
}
