body {
font-family: Arial, sans-serif;
font-size: 16px;
}

h1,
h3 {
font-weight: bold;
}

h1 {
font-size: 30px;
}

h3 {
font-size: 20px;
}

.form-check-input {
margin-right: 5px;
border-color: black;
}

#identification {
margin-bottom: 25px;
}

#titre {
text-align: center;
margin-bottom: 50px;
}

.printButton {
font-size: 30px;
text-align: center;

}
table, th, td {
border: 1px solid black;
text-align: center;
}

@media print {
@page {
    margin: 1.6cm;
}

body {
    margin: 1.6cm;
}

.buttonPrintS {
    display: none;
    visibility: hidden;
}

.buttonPrintAll {
    display: none;
    visibility: hidden;
}

.liste {
    break-inside: avoid;
}

div.sujet {
    page-break-after: always;
}
}