body {
font-family: Arial, sans-serif;
font-size: 16px;
}

.form-check-input {
margin-right: 5px;
border-color: black;
}

#identification {
margin-bottom: 25px;
}

#titre {
text-align: center;
margin-bottom: 50px;
margin-top: 50px;
}

.buttonPrintAll{
font-size: 30px;
text-align: center;
margin-top : 50px;
padding-left: 40%;
padding-right: 40%;
}



@media print {

@page {
    margin: 0cm;
}

body {
    margin: 1.6cm;
}

.buttonPrintS {
    display: none;
    visibility: hidden;
}

.buttonPrintAll {
    display: none;
    visibility: hidden;
}

.question{
    break-inside: avoid;   
}
.sujet{
    break-inside: avoid;
}


}