{% extends "base.html" %}

{% block title %}Editeur{% endblock %}

{% block content %}

<div id="diviv">

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', () => {
        socket.emit('message', { m : 'I\'m connected!'});
    });

    socket.on("messageToClient", (data) => {
        $("#diviv").append(data.m);
    })
</script>

{% endblock %}