{% extends "base.html" %}

{% block title %}Ajout Etudiants{% endblock %}

{% block content %}

<div class="container-fluid">
<input type="file" id="myFile" name="fichier" accept=".csv" value=""> </br> </br></br> <!-- si tu veux que ca filtre direct dans tes fichiers les csv possibles utilise accept=".csv"-->
<form name="FormAjout" action="" onsubmit="" method="post" required>     
        <input type="submit" id="boutonsubmit" value="Envoyer !" style="display: none;">
        <button type="button" id="boutoncancel" onclick="efface()" style="display: none;">Annuler !</button>
        <input type="hidden" id="TabToSend" value="" name="StudentTab">
</form>
<button type="button" onclick="validation()">CLIK</button>

</div>

<div>
     <table id ="etudiant_ajt">
        
     </table>   
</div>

<script src="{{ url_for('static', filename = 'jquery-csv.js') }}"></script>
<script src="{{ url_for('static', filename = 'checkupFile.js') }}"></script>

{% endblock %}
