{% extends "base.html" %}

{% block title %}Ajout Etudiants{% endblock %}

{% block content %}

<div class="container-fluid">

<form name="FormAjout" action="" onsubmit="return validation()" method="get" required>
        <input type="file" id="myFile" name="fichier" accept=".csv" ></br> </br></br> <!-- si tu veux que ca filtre direct dans tes fichiers les csv possibles utilise accept=".csv"-->
        <input type="submit" value="Envoyer !">

    </form>

</div>

<script src="{{ url_for('static', filename = 'checkupFile.js') }}"></script>

{% endblock %}
