{% extends "base.html" %}

{% block title %}Ajout Etudiants{% endblock %}

{% block content %}

<div class="container-fluid">

<form name="FormAjout" action="" onsubmit="return validation()" method="post" required>
   <!-- Nom: <input type="text" name="fname"></br>  </br>
        Mot de Passe: <input type="text" name="fmdp"> </br> </br> -->
        <input type="file" id="myFile" name="fichier"></br> </br></br>
        <input type="submit" value="Envoyer !">

    </form>

</div>

<script src="{{ url_for('static', filename = 'checkupFile.js') }}"></script>

{% endblock %}
