{% extends "base.html" %}

{% block title %}Archives{% endblock %}

{% block content %}
{% if isLogedP %}
<style>
    h2 {
        text-align: center;
        margin: 20px;
    }

    #canvasDiv {
        margin: 20px;
        width: 80vw;
        max-width: 1000px;
        min-height: 500px;
    }

    canvas {
        min-height: 500px;
    }

    #options>* {
        margin: 20px;
    }

    #options>label {
        padding: 10px;
    }

    #options>label>input {
        margin-left: 10px;
    }

    .borderedDiv {
        border-color: #565a5a !important;
    }
</style>
<div class="container-fluid">
    <h2>Historique des sessions</h2>
    <div class="d-flex align-items-center justify-content-center">
        <div id="canvasDiv" class="borderedDiv ratio" style="--bs-aspect-ratio: 50%;">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <div id="options" class="d-flex align-items-center justify-content-center">
        <button type="button" onclick="scrollButton(-1)" class="btn btn-primary"><- Précédent</button>
        <label class="borderedDiv">Taille Intervalle :<input type="number"
                onchange="changeTailleIntervalle(this)" min="1" max="40" step="1" value="10"></label>
        <button type="button" onclick="scrollButton(1)" class="btn btn-primary">Suivant -></button>
        <input type="hidden" id="datasJson" value="{{sessionsJSon}}">
    </div>

    <hr />
    <h2>Historique des sessions</h2>
    <div class="archives-tab">
        <table class="table">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Date</th>
                    <th>Nombre de participants par question(s)</th>
                    <th>Nombre de bonnes réponses par question(s)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for session in sessions %}
                <tr>
                    <td><a href="/archives/stats/{{session['id']}}">{{session['title']}}</a></td>
                    <td>{{session['date']}}</td>
                    <td>{{session['nbAnswers'][0]|round }}</td>

                    {% if session['nbAnswers'][0] == 0 %}  
                    <td>  {{(100 *session['nbAnswers'][0])|round}}%</td>
                    {% else %}
                    <td>  {{(100 *session['nbAnswers'][1] / session['nbAnswers'][0]) | round}}%</td>
                    {% endif %}
                    <td>
                        <a href="{{ url_for('archives.deleteSession', idSession=session['id']) }}" class="btn btn-danger">supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename = 'statistiques.js') }}"></script>

{% endif %}
{% endblock %}