{% extends "base.html" %}

{% block title %}Archives{% endblock %}

{% block content %}
{% if isLogedP %}
<style>
    h2 {
        text-align: center;
        margin: 20px;
    }

    #canvasDiv {
        margin: 20px;
        width: 80vw;
        max-width: 1000px;
        min-height: 500px;
    }

    canvas {
        min-height: 500px;
    }

    #options>* {
        margin: 20px;
    }

    #options>label {
        padding: 10px;
    }

    #options>label>input {
        margin-left: 10px;
    }

    .borderedDiv {
        border-color: #565a5a !important;
    }
</style>
<div class="container-fluid">
    <h2>Historique des sessions</h2>
    <div class="d-flex align-items-center justify-content-center">
        <div id="canvasDiv" class="borderedDiv ratio" style="--bs-aspect-ratio: 50%;">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <div id="options" class="d-flex align-items-center justify-content-center">
        <button type="button" onclick="scrollButton(-1)" class="btn btn-primary"><- Précédent</button>
        <label class="borderedDiv">Taille Intervalle :<input type="number"
                onchange="changeTailleIntervalle(this)" min="1" max="40" step="1" value="10"></label>
        <button type="button" onclick="scrollButton(1)" class="btn btn-primary">Suivant -></button>
        <input type="hidden" id="datasJson" value="{{sessionsJSon}}">
    </div>

    <hr />

    <div class="alert alert-danger" style="width: fit-content; margin : auto">
        A mon avis c'est important de donner au moins le nombre de participants
        sinon les pourcentages veulent pas dire grand chose.<br/>
        Ou alors donner direct nombre de participant et nombre de bonne réponse<br/>
        Pareil sur la page stat<br/>
        Aussi chuis pas un génie des maths mais *100 ca cacule pas un pourcentage <3 (c'est le nombre de reponse par question dans session['nbAnswers']) <br/>
        Pour les clef du dictionaire j'ai remplacé par des strings
    </div>

    <div class="archives-tab">
        <table class="table">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Date</th>
                    <th>Taux Participation</th>
                    <th>Taux bonne(s) réponse(s)</th>
                </tr>
            </thead>
            <tbody>
                {% for session in sessions %}
                <tr>
                    <td><a href="/archives/stats/{{session['id']}}">{{session['title']}}</a></td>
                    <td>{{session['date']}}</td>
                    <td>{{session['nbAnswers'][0]*100}} %</td>
                    <td>{{session['nbAnswers'][1]*100}}%</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename = 'statistiques.js') }}"></script>

{% endif %}
{% endblock %}