<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://unpkg.com/mermaid@8.5.2/dist/mermaid.min.js"></script> <!--INDISPENSABLE pour pouvoir utiliser mermaid ou pour convertir la variable provenant du code python-->
    
</head>
<body>

    <div class="mermaid">
        pie title Camembert qui montre a quel point Clément est bg
            "incroyablement beau" : 85
            "Ignoble" : 1
    </div>
  
   <p>{{mark|safe}}</p>

    <span class="mermaid">
        graph TD
        A[Main page du site] -->|Connexion réussie| B(Connecté)
        A[Main page du site] -->|Connexion échouée| C(Erreur)
        C -->|Redirect| E(Inscription)
        B --> D{Acces a tous les QCM <br>'espace perso'}
        D -->|Créer| H[Création d'un QCM]
        D -->|Modifier| G[Modification d'un QCM existant]
        D -->|Supprimer| F[Suppression d'un QCM]
        D -->|Imprimer| I[Page de Selection des questions]
        I -->|Selection| J[Page finale prête à être imprimée]
    </span>

 <script>
    mermaid.initialize({startOnLoad:true});
 </script>

</body>
</html>