{% extends "base.html" %}

{% block title %}Creation de page{% endblock %}

{% block content %}

<div class="container-fluid">

<div class="printButton">
    <button onclick="window.print();" class="printButton">Imprimer le QCM</button>
</div>


{% for question in res %}
<div class="state">
    <state>{{ question.state|safe }}</state>
</div>

{% for answer in question.answers %}
<div id="totalAnswer">

    <div class="caseacocher">
        <img src="{{url_for('static', filename='caseacocher.png')}}" width="50" height="25" align="left"/>
    </div>

    <div class="answers"> 
        <answer>{{ answer.text|safe}}</answer>
    </div>

</div>

    {% endfor %}
{% endfor %}

</div>

<script>
    mermaid.initialize({startOnLoad:true}); // Lancement de mermaid
</script>

{% endblock %}

