{% extends "base.html" %}

{% block title %}Creation de Sujets{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename = 'Page_sujets.css') }}">

<div class="container-fluid">
    </br></br>
    <form action="POST">
            <label for="nbr_sujets">Nombres de sujets voulus :</label>

        <input type="number" id="nbr_sujets" name="nbr_sujets" min="0" max="500">
        </br></br></br>

        <div class="form-check form-switch">
            <label class="form-check-label" for="flexSwitchCheckChecked">Anonymat</label>
            <input class="form-check-input" type="checkbox" id="button_anonymat">
        </div>
        </br>
        <div class="form-check form-switch">
            <label class="form-check-label" for="flexSwitchCheckDefault">Questions mises aléatoirement OU</label>
            <input class="form-check-input" type="checkbox" id="button_tags">
            <label class="form-check-label" for="flexSwitchCheckChecked">Ordre des tags important</label>
        </div>
        </br>
        <div class="form-check form-switch">
            <label class="form-check-label" for="flexSwitchCheckChecked">Ordre des tags important</label>
            <input class="form-check-input" type="checkbox" id="button_tags">
        </div>
        </br>
        <div class="form-check form-switch">
            <label class="form-check-label" for="flexSwitchCheckChecked">Intervalle souhaité</label>
            <input class="form-check-input" type="checkbox" id="button_tags">
        </div>
        <!-- Dropdown Boostrap avec tous les tags utilisés sur la page courante -->


        <!-- idAnswers contient les ids des réponses présentent -->
        <input type="hidden" name="idAnswers" id="idAnswers" value="{{idAnswers}}">

        <div id="answerList" class="container-fluid">
            {%for i in range(0, answers|length)%} <!--Replacement des réponses après un rechargement-->
            <div id="divAnswer{{i}}" class="divAnswer row align-items-center">
                <div class="col-4 form-check form-switch">
                    <button type="button" class="btn btn-dark dropdown-toggle itemBut" data-bs-toggle="dropdown">
                    Test
                    </button> 
                    <ul class="dropdown-menu dropdown-menu-dark" id="tagList" aria-labelledby="dropdownMenuButton2">
                        {%for t in tags%}
                        <li><label for="{{t}}"><input type="checkbox" name="{{t}}" class="tagCheck"
                                    onchange="checkTag(this)">{{t}}</label></li>
                        {%endfor%}
                    </ul>

                </div>
                <div class="col-4">
                    <button type="button" onclick="deleteAnswer({{i}})" class="btn btn-danger deleteButton"
                        value="Supprimer"><img src="{{ url_for('static', filename = 'trash.png') }}"></button>
                </div>
            </div>

            {%if answers[i]['val'] %} <!--Recheck des checkboxes si necessaires-->
            <script>
                document.getElementById("checkAnswer{{i}}").checked = true;
            </script>
            {%endif%}

            {%endfor%}
        </div>
        <input type="button" class="btn btn-success middleButton mx-auto" id="addAnswerBut" onclick="addAnswer()"
            value="Ajouter un type de questions" style="margin-top:20px;" />

            <button type="submit" onclick="verifPossible()">Envoyer</button>
    </form>

</div>

<script src="{{ url_for('static', filename = 'script_crea_sujets.js') }}"></script>



<script>
function addAnswer() {
    let answerContainer = $("#answerList");
    let newId = maxOfTab(idAnswers) + 1;

    
    var tagList=[
        {% for item in tags %}
        "{{item}}" {% if not loop.last %},{%endif%}
        {% endfor %}
    ];

    // Ajout de la nouvelle réponse au HTML avec le bon id
    let html = `
        <div id="divAnswer${newId}" class="divAnswer row align-items-center">
            </br>
            
                    {%for t in tags%}
                    <h4 style="padding-top: 38px;">{{t}}</h4> 
            
            <div class="col-5" position: auto;">
                <input type="number" min="0" class="inputAnswer form-control" name="textAnswer${newId}" id="textAnswer${newId}" placeholder="Nbr voulu" style="width: 125px;">
            </div>
            <div class="col-2">
                
            </div>
            </br></br>
            {%endfor%}
        </div>
  
    `
    answerContainer.append(html);
    idAnswers.push(newId);
    
}


function verifPossible() {
    
}
</script>

{% endblock %}
