{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block content %}

<style>

.centerPage {
  margin-top:20px;
  padding-left: 40px !important;
  padding-right: 40px !important;
  background-color: rgba(238, 169, 85, 0.541);
  border-color: rgba(151, 107, 54, 0.415) !important;
}

input[type=submit]{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
input[type=checkbox]{
  margin-right: 10px;
}
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 centerPage borderedDiv">
            <h2>Professeur</h2>
            <form method="POST" action="/loginP">
                <label for="loginP">Entrer votre identifiant :</label>
                <input class="form-control" type="text" placeholder="Identifiant" name="loginP" required aria-required="true" />

                <label for="passwordP">Entrer votre mot de passe:</label>
                <input class="form-control" type="password" placeholder="Mot de passe" name="passwordP" required aria-required="true" />

                <label for="rememberMeP"><input type="checkbox" id="rememberMeP" name="rememberMeP">Se souvenir de
                    moi</label>

                <input type="submit" value="Connexion" class="btn btn-success"/>
                <input type="hidden" name="url" value="{{redirection}}">
            </form>
        </div>
        <div class="col-sm-6 centerPage borderedDiv">
            <h2>Élève</h2>
            <form method="POST" action="/loginE">
                <label for="loginE">Entrer votre numéro étudiant:</label>
                <input class="form-control" type="text" placeholder="Numéro etudiant" name="loginE" required aria-required="true" />

                <label for="passwordE">Entrer votre mot de passe:</label>
                <input class="form-control" type="password" placeholder="Mot de passe" name="passwordE" required aria-required="true" />

                <label for="rememberMeE"><input type="checkbox" id="rememberMeE" name="rememberMeE">Se souvenir de moi</label>
                <input type="submit" value="Connexion" class="btn btn-success"/>
                <input type="hidden" name="url" value="{{redirection}}">
            </form>
        </div>
    </div>



</div>

</div>

{% endblock %}