{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block content %}
<form  method = "POST" action = "/login">
    <p>Connexion</p>
    <p>Entrer votre nom:</p>
    <p><input type = "text" placeholder = "Login" name = "login" required aria-required="true" /></p>
    <p>Entrer votre mot de passe:</p>
    <p><input type = "password" placeholder= "Mot de passe" name = "password" required aria-required="true" /></p>
    <p><input type = "submit" value = "submit" /></p>
    <span></span>
 </form>
  {% endblock %}