{% extends "base.html" %}

{% block title %}Mes questions{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename = 'mesQuestions.css') }}">

<!-- Barre de navigation Boostrap pour trier les questions ou en creer une nouvelle -->
<nav class="navbar navbar-expand-sm navbar-dark" id="navQuestions">
  <div class="container-fluid">
    <!-- Boutton menu dépliant pour les plus petits écrans -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar2"
      style="background-color : #212529;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar2">
      <ul class="navbar-nav">
        <li class="nav-item">
          <form action="" method="GET" id="tagForm">
            <!-- Dropdown Boostrap avec tous les tags utilisés sur la page courante -->
            <div class="dropdown">
              <button type="button" class="btn btn-dark dropdown-toggle itemBut" data-bs-toggle="dropdown">
                Tags
              </button>

              <ul class="dropdown-menu overflow-auto" id="tagList">
                <li><label for="selectAll"><input type="checkbox" name="selctAll" id="selectAll"
                      onchange="selectAllTag(this)">Tout sélectionner</label></li>
                <hr />
                {%for t in tags%}
                <li><label for="{{t}}"><input type="checkbox" name="{{t}}" class="tagCheck"
                      onchange="checkTag(this)">{{t}}</label></li>
                {%endfor%}
              </ul>

            </div>
          </form>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-dark itemBut" onclick="filterByTags()">Filtrer par tag</button>
        </li>

        <li class="nav-item">
          <button type="button" class="btn btn-dark itemBut" onclick="submitForm('/MesQuestions/Sorting')">Créer une
            séquence / Page à imprimer</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-danger itemBut" onclick="submitForm('/MesQuestions/Delete')">Supprimer la
            sélection</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Flexbox Boostrap pour que tous les éléments se replacent en fonction de la taille de l'écran-->
<!-- Ceci dans un formulaire qui nous permetteras de selectionner les questions pour générer une page de qcm-->

<div class="collapseTitles">
  <input type="checkbox" name="selctAllQ" id="selectAllQ" onchange="selectAllQ(this)">
  <button type="button" data-bs-toggle="collapse" data-bs-target="#questionsCollapse" class="collapseBut">
    <h3>Questions ⌄</h3>
  </button>
</div>

<form id="questionsForm" action="/MesQuestions/Sorting" method="POST">
  <div id="questionsCollapse" class="collapse show">
    <input type="hidden" name="selectedQ" id="selectedQ">
    <div class="d-flex flex-wrap justify-content-around" style="margin-top: 20px;" id="questionCards">

      <div class="card newQuestionCard">
        <div class="card-header">
          Nouvelle Question
        </div>
        <div class="card-body" id="newQuestionBody">
          <a class="btn btn-success" href="{{url_for('editeur.init', questionId='createNew')}}" id="newQuestionLink"><p>+</p></a>
        </div>
      </div>

      {%for q in questions%}
      <div class="card questionCard">
        <div class="card-header">
          <input type="checkbox" name="{{q['id']}}" class="checkQuestion" onchange="checkQ(this)">
          <a href="{{url_for('editeur.init', questionId=q['id'])}}" class="link-dark">{{q['title']}}</a>
          <a href="{{url_for('questionLive.createNew', mode='Question', id=q['id'])}}"
            class="topRightBut btn btn-success">live</a>
        </div>
        <div class="card-body">
          <div>{{q['state']|safe}}</div>
        </div>
        <div class="card-footer">
          {%for t in q['tags']%}
          <span class="etiquette">{{t}}</span>
          {%endfor%}
        </div>
      </div>

      {%endfor%}
    </div>
  </div>


  <div class="collapseTitles">
    <input type="checkbox" name="selctAllS" id="selectAllS" onchange="selectAllSeq(this)">
    <button type="button" data-bs-toggle="collapse" data-bs-target="#sequencesCollapse" class="collapseBut">
      <h3>Séquences ⌄</h3>
    </button>
  </div>

  <div id="sequencesCollapse" class="collapse show">
    <input type="hidden" name="selectedS" id="selectedS">
    <div class="d-flex flex-wrap justify-content-around" style="margin-top: 20px;" id="questionCards">
      <!-- Card Boostrap car cela rendais bien pour un bref apercu -->
      {%for s in sequences%}
      <div class="card questionCard">
        <div class="card-header">
          <input type="checkbox" name="{{s['id']}}" class="checkSequence" onchange="checkS(this)">
          <a href="/MesQuestions/UpdateSequence/{{s['id']}}">{{s['title']}}</a>
          <a href="{{url_for('questionLive.createNew', mode='Sequence', id=s['id'])}}"
            class="topRightBut btn btn-success">live</a>
        </div>
        <div class="card-body">
          <ul>{% for t in s['questionTitles'] %}<li>{{t}}</li>{%endfor%}</ul>
        </div>
      </div>

      {%endfor%}
    </div>
  </div>
</form>

<script src="{{ url_for('static', filename = 'mesQuestions.js') }}"></script>

{% endblock %}