{% extends "base.html" %}

{% block title %}Creation de page{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'pageQcm.css') }}">

<div class="container">

    <div class="printButton">
        <button onclick="window.print();" class="printButton">Imprimer le QCM</button>
    </div>
    <!--
        Boucle Pour chaque élèvre
    -->
    <h1 id="titre">{{title}}</h1>
    <div id="identification">
        {% if anonyme == true %}
        <!--
            faire numEtu avec des box remplis et vide
    -->

        {% else %}
        <!--
        faire 3 encadrés pour Nom, preonm, num etu
    -->
        <table>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Num etu</th>
            </tr>
            <tr>
                <td>__________</td>
                <td>__________</td>
                <td>__________</td>
            </tr>
        </table>
        {% endif %}
    </div>

    <div class="eleve" id="eleve">
        <!--
        Boucle Pour chaque questions
    -->
        <ol>
            {% for i in range(0, questions|length)%}
            <div class="question" id="question">
                <li>
                    <h3 class="questionIndex">Question {{i+1}} :</h3>
                    <div class="state" id ="state">
                        <state>{{ questions[i].state|safe }}</state>
                    </div>

                    <div class="answers">
                        {% if questions[i].mode == 0 %}
                        {% for answer in questions[i].answers %}
                        <div class="row">
                            <div class="form-check col-6">
                                <input class="form-check-input" type="checkbox">
                                <label class="form-check-label">
                                    {{ answer.text|safe}}
                                </label>
                            </div>

                            {% endfor %}
                            {% else %}
                            <p>.............................................................................</p>
                            {% endif %}
                        </div>
                    </div>
                </li>
            </div>
            {% endfor %}
            <!--
<p style="page-break-after: always;">&nbsp;</p>
            -->

    </div>
</div>



<script>
    mermaid.initialize({ startOnLoad: true }); // Lancement de mermaid
</script>

{% endblock %}