{% extends "base.html" %}

{% block title %}Création de compte{% endblock %}

{% block content %}


<script>  
    function PasswordVerif() {  
      var pw1 = document.getElementById("mdp");  
      var pw2 = document.getElementById("mdp2");  
      if(pw1 != pw2)  
      {   
        alert("Les mots de passe sont différents");  
      } else {  
        alert("Parfait !");  
      }  
    }  
</script>

<form onsubmit= "return Taillemdp()" action = "http://localhost:5000/register" method = "post">
    <h2>INSCRIPTION</h2>
    <p><input type = "text" name = "login" placeholder="Entrer votre nom" required aria-required="true"/></p>
    </br>
    <p><input type = "password" name = "password" placeholder="Entrer votre mot de passe" required aria-required="true"/></p>
    </br>
    <p><input type = "password" name = "cpassword" id="mdp2" placeholder="Confirmer votre mot de passe" required aria-required="true"/></p> 
    <input type = "submit" value = "Inscription" onclick="PasswordVerif()"/>
    <span id = "message" style="color:red"> </span> <br><br> 
 </form>

{% endblock %}
