{% extends "base.html" %}

{% block title %}Séquence{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename = 'sorting.css') }}">

<form action="/MesQuestions/validerSelection" method="POST" id="form" target="_blank">
    <input type="hidden" name="orderedId" id="orderedId" />
    <div class="d-flex flex-wrap justify-content-center navBar">
        <a href="{{url_for( 'mesQuestions.mainPage' )}}" class="btn btn-danger itemBut">Annuler</a>
        <button type="button" class="btn btn-dark itemBut" onclick="submitForm('/MesQuestions/PageQCM')">Creer une
            Page</button>
        <button type="button" class="btn btn-dark itemBut"
            onclick="submitForm('/MesQuestions/CreerSequence')">{{button}}</button>
        <input type="text" id="titleInput" class="form-control" name="title" placeHolder="Titre" value="{{title}}">
    </div>
    <h4 style="text-align : center;">Glissez déposez pour changer l'ordre</h4>
    <ul class="d-flex flex-wrap justify-content-around draggable-list" id="draggable-list">
    </ul>
    <input type="hidden" name="id" value="{{id}}">
</form>
<input type="hidden" id="questionJson" value="{{questions}}">

<div id="filtrage">
    <div class="collapseTitles">
        <button type="button" data-bs-toggle="collapse" data-bs-target="#questionsCollapse" class="collapseBut">
            <h3>Toutes vos questions ⌄</h3>
        </button>
    </div>

    <div class="dropdown">
        <button type="button" class="btn btn-dark dropdown-toggle itemBut" data-bs-toggle="dropdown">
            Tags
        </button>

        <ul class="dropdown-menu overflow-auto" id="tagList">
            <li><label for="selectAll"><input type="checkbox" name="selctAll" id="selectAll"
                        onchange="selectAllTag(this)">Tout sélectionner</label></li>
            <hr />
            {%for t in tags%}
            <li><label for="{{t}}"><input type="checkbox" name="{{t}}" class="tagCheck"
                        onchange="checkTag(this)">{{t}}</label></li>
            {%endfor%}
        </ul>

    </div>
    <button type="button" class="btn btn-dark itemBut" onclick="filterByTags()">Filtrer par tag</button>
</div>

<div id="questionsCollapse" class="collapse show">
    <div class="d-flex flex-wrap justify-content-around" style="margin-top: 20px;" id="questionCards">
        {%for q in allQuestions%}
        <div class="card questionCard selectable" id="questionCard{{q['id']}}">
            <div class="card-header">
                <span>{{q['title']}}</span>
                <button type="button" onclick="addtoSequence({{q['id']}})"
                    class="topRightBut btn btn-success">+</button>
            </div>
            <div class="card-body">{{q['state']|safe}}</div>
            <div class="card-footer">
                {%for t in q['tags']%}
                <span class="etiquette">{{t}}</span>
                {%endfor%}
            </div>
        </div>

        {%endfor%}
    </div>
</div>

<script src="{{ url_for('static', filename = 'sorting.js') }}"></script>
{% endblock %}