{% extends "base.html" %}

{% block title %}Historique{% endblock %}

{% block content %}
<style>
    h2{
        text-align: center;
        margin : 20px;
    }

    #canvasDiv {
        margin: 20px;
        width: 80vw;
        max-width: 1000px;
        min-height: 500px;
    }

    canvas {
        min-height: 500px;
    }

    #options > * {
        margin: 20px;
    }
    #options > label {
        padding: 10px;
    }
    #options > label > input {
        margin-left : 10px;
    }

    .borderedDiv {
        border-color: #565a5a !important;
    }
</style>
<h2>Historique des sessions</h2>
<div class="d-flex align-items-center justify-content-center">
    <div id="canvasDiv" class="borderedDiv ratio" style="--bs-aspect-ratio: 50%;">
        <canvas id="myChart"></canvas>
    </div>
</div>
<div id="options" class="d-flex align-items-center justify-content-center">
    <button type="button" onclick="scrollButton(-1)" class="btn btn-primary"><- Précédent</button>
    <label class="borderedDiv">Taille Intervalle :<input type="number" onchange="changeTailleIntervalle(this)" min="1" max="40" step="1"
            value="10"></label>
    <button type="button" onclick="scrollButton(1)" class="btn btn-primary">Suivant -></button>
    <input type="hidden" id="datasJson" value="{{mySessions}}">
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename = 'statistiques.js') }}"></script>

{% endblock %}