{% extends "base.html" %}

{% block title %}Stats{% endblock %}

{% block content %}
{% if isLogedP %}

<style>
    .stats {
        margin-top: 20px;
        padding-left: 40px !important;
        padding-right: 40px !important;
    }

    .stats-titre {
        font-size: 20px;
        font-weight: bold;

    }

    .stats-date {
        font-size: 15px;
        font-weight: bold;

    }

    .stats-tab {
        margin-top: 20px;
    }
    #numEtuCss {
        width: 40%;
    }
</style>



<div class="container-fluid">
    <div class="stats">
        <div class ="stats-titre">
            Titre de la séquence / question : {{res['title']}} <!--REMPLACER ID PAR TITLE -->
        </div>
        <div class="stats-date">
            Date de la session :
            {{res['date']}}
        </div>
        <div class="stats-tab">
            <table class = "table">
                <thead>
                    <tr>
                        <th id="numEtuCss">Numéro Etudiant</th>
                        <th>Pourcentage de bonne(s) réponse(s)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for numEtu in res['results'] %}
                        <tr>
                            <th>{{ numEtu }}</th>
                            <th>{{ res['results'][numEtu] }}%</th>
                        </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}