{% extends "base.html" %}

{% block title %}Stats{% endblock %}

{% block content %}
{% if isLogedP %}

<div class="container-fluid">
    <div class="stats">
        <div class ="stats-titre">
            Titre de la séquence : {{resultats['id']}} <!--REMPLACER ID PAR TITRE -->
        </div>
        <div class="stats-date">
            Date de la séquence :
            {{resultats['date']}}
        </div>
        <div class="stats-tab">
            <table class = table>
                <thead>
                    <tr>
                        <th>Numéro Etudiant</th>
                        <th>Pourcentage de bonne(s) réponse(s)</th>
                        {% for nbQuestions %}
                    </tr>
                </thead>
                <tbody>
                    {% for numEtu in resultats['results'] %}
                        <tr>
                            <th>{{ numEtu }}</th>
                            <th>{{ resultats['results'][numEtu] }}%</th>
                        </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}